<div class="d-flex">
    <!-- filter  -->
    <div class="mx-3 col-4">
        <input type="text" class="form-control" placeholder="search events" [(ngModel)]="searchText">
    </div>
</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">number</th>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
            <th scope="col">operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let speaker of speakers|filterSpeakerArray:searchText let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{speaker._id}}</td>
            <td>{{speaker.username}}</td>
            <td>{{speaker.Email}}</td>
            <td>
                {{speaker.address.building}}, {{speaker.address.street}}, {{speaker.address.city}}
            </td>
            <td>
                <a [routerLink]="['edit/',speaker._id]" class="btn btn-outline-dark">edit</a>
                <a (click)="deletSpeaker(speaker)" class="btn btn-outline-dark">delete</a>
            </td>
        </tr>
    </tbody>
</table>